body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
p{
  color: dimgray;
}
.header{
    padding-bottom: 5%;
}

.header-p{
  float: right;
  margin-right: 30px;
}

section{
  height: 450px;
  padding: 20px 20px 180px 20px;
}
h1{
  margin: 0px;
  font-size: 50px;
  font-weight: bolder;
}
.text-highlight{
  color: coral;
}

.half-width{
  padding-top: 5%;
  width: 40%;
  float: left;
  padding: 1% 5%;
}
.half-width img{
  height: 90%;
  width: 90%;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient( crimson , tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}
h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.work-section{
  background-color: cornsilk;
  border-radius: 50px;
}
.work{
  background-color: whitesmoke;
  border: 1px;
  width: 25%;
  float: left;
  margin: 2% 2%;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 10px 10px 40px gray;
}
.work img{
  width: 100%;
  height: 100%;
}
.text-center{
  text-align: center;
  margin: 0;
}

#last-section{
  height: 600px;
}
#agent{
  font-size: 30px;
  font-weight: bolder;
}
.message{
  margin: 1% 30%;
  border: 5px solid pink;
  border-radius: 10px;
}
#last-work{
  background-image: url(images/b.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin: 0% 30%;
  border-radius: 10px; 
}

.connect-part{
  width: 30%;
  float: left;
  margin-left: 5%;
}
#link{
  text-decoration: none;
  background-image: linear-gradient( crimson , tomato);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-top: 30%;
}
.link{
  margin-left: 170px;
  margin-top: 20%;
}
.text-center img{
  margin: 5px 5px;
  width: 30px;
  height: 30px;
}
footer{
  text-align: center;
  font-size: 12px;
}